<h2 class="mb-4 text-center">Employee Management System</h2>
<table class="table table-striped">

    <!-- Table Header -->
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
        <tr *ngFor="let users of userList; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ users.firstName }}</td>
            <td>{{ users.lastName }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.phone }}</td>
            <td>{{ users.dob }}</td>
            <td>{{ users.gender }}</td>

            <!-- Edit -->
            <td>
                <button class="btn btn-info btn-sm" (click)="editUser(users)">Edit</button>
            </td>

            <!-- Delete Button -->
            <td>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(users.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Bootstrap Modal -->
<div *ngIf="selectedUser">
    <div class="modal fade show d-block" id="userEditModal" tabindex="-1" role="dialog"
        aria-labelledby="userEditModalLabel" aria-hidden="true" style="z-index: 1050; background: rgba(0, 0, 0, 0.5);">

        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content" style="min-height: 80vh;">

                <div class="modal-body">
                    <form [formGroup]="userEditForm">
                        <div class="row">

                            <!-- First Name -->
                            <div class="col-md-12 mb-2">
                                <label for="firstName">First Name <span class="text-danger">*</span></label>
                                <input type="text" id="firstName" class="form-control" formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': formControls['firstName'].invalid && formControls['firstName'].touched }" />
                                <div *ngIf="formControls['firstName'].touched && formControls['firstName'].invalid"
                                    class="text-danger">
                                    <span *ngIf="formControls['firstName'].hasError('required')">First name is
                                        required.</span>
                                    <span *ngIf="formControls['firstName'].hasError('minlength')">First name must be at
                                        least 5 characters long.</span>
                                </div>
                            </div>

                            <!-- Last Name -->
                            <div class="col-md-12 mb-2">
                                <label for="lastName">Last Name <span class="text-danger">*</span></label>
                                <input type="text" id="lastName" class="form-control" formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': formControls['lastName'].invalid && formControls['lastName'].touched }" />
                                <div *ngIf="formControls['lastName'].touched && formControls['lastName'].invalid"
                                    class="text-danger">
                                    <span *ngIf="formControls['lastName'].hasError('required')">Last name is
                                        required.</span>
                                    <span *ngIf="formControls['lastName'].hasError('minlength')">Last name must be at
                                        least 5 characters long.</span>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-md-12 mb-2">
                                <label for="email">Email <span class="text-danger">*</span></label>
                                <input type="email" id="email" class="form-control" formControlName="email"
                                    [ngClass]="{ 'is-invalid': formControls['email'].invalid && formControls['email'].touched }" />
                                <div *ngIf="formControls['email'].touched && formControls['email'].invalid"
                                    class="text-danger">
                                    <span *ngIf="formControls['email'].hasError('required')">Email is required.</span>
                                    <span *ngIf="formControls['email'].hasError('email')">Enter a valid email.</span>
                                </div>
                            </div>

                            <!-- Phone -->
                            <div class="col-md-12 mb-2">
                                <label for="phone">Phone <span class="text-danger">*</span></label>
                                <input type="text" id="phone" class="form-control" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': formControls['phone'].invalid && formControls['phone'].touched }" />

                                <div *ngIf="formControls['phone'].touched && formControls['phone'].invalid"
                                    class="text-danger">
                                    <span *ngIf="formControls['phone'].hasError('required')">Phone number is
                                        required.</span>
                                    <span *ngIf="formControls['phone'].hasError('pattern')">Enter a valid 10-digit phone
                                        number.</span>
                                </div>
                            </div>


                            <!-- Gender -->
                            <div class="col-md-12 mb-2">
                                <label for="gender">Gender <span class="text-danger">*</span></label>
                                <select class="form-control" formControlName="gender" id="gender"
                                    [ngClass]="{ 'is-invalid': formControls['gender'].invalid && formControls['gender'].touched }">


                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>

                                <!-- Validation Message -->
                                <div *ngIf="formControls['gender'].touched && formControls['gender'].invalid"
                                    class="text-danger">
                                    <span *ngIf="formControls['gender'].hasError('required')">Gender is required.</span>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="saveUser()">Save</button>
                    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>